<!--<h3>Creation de Nouveau Client</h3>
<form  (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>NomClient</label>
        <input  type="text" class="form-control"id="nomClient"
        [(ngModel)] ="client.nomClient" name="nomClient">
    </div>
    <div class="form-group">
        <label>PrenomClient</label>
        <input  type="text" class="form-control"id="prenomClient"
        [(ngModel)] ="client.prenomClient" name="prenomClient">
    </div>
    <div class="form-group">
        <label>TelClient</label>
        <input  type="text" class="form-control"id="telClient"
        [(ngModel)] ="client.telClient" name="telClient">
    </div>
   <button class="btn btn-success" type="submit">Ajouter</button>
     
</form>
-->